#container {
  background-color: #f2b340;
  width: auto;
  height: auto;
  margin-left: 30px;
  margin-right: 30px;
}

#cont {
  text-align: center;
  padding: 26px 30px;
}
#fapply {
  color: white;
  padding: 10px 15px;

  border: 2px solid rgb(186, 217, 101);
}
#alink {
  text-decoration: none;
}
header {
  margin: 20px;
}
